/*@font-face {
	font-family: 'UbuntuRegular';
	src: url('../fonts/UbuntuRegular/UbuntuRegular.eot');
	src: url('../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UbuntuRegular/UbuntuRegular.woff') format('woff'),
		url('../fonts/UbuntuRegular/UbuntuRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}