ul
	list-style: none



.page-main__features
	background-color: #fff
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2)
	.features__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		padding: 34px 5px 34px 5px
		.features__item
			max-width: 204px
			&:not(:last-child)
				margin-right: 125px
			.features__text
				position: relative
				padding-left: 69px
				font-size: 13px
				&:after
					content: ''
					position: absolute
					left: 0
					top: 50%
					display: block
					width: 44px
					height: 44px
					margin-top: -22px
					border-radius: 50%
					background-color: #e2e2e2
					background-position: center
					background-repeat: no-repeat
			.features__text-1
				&:after
					background-image: url("../img/features-1.png")
			.features__text-2
				&:after
					background-image: url("../img/features-2.png")
			.features__text-3
				&:after
					background-image: url("../img/features-2.png")
			.features__text-4
				&:after
					background-image: url("../img/features-4.png")

.page-main__order
	padding: 62px 20px 68px 30px
	.order__field-block
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: center
		border: none
		&.separator
		&:after
			height: 2px
			background-color: rgba(0,0,0,0.2)
		&:not(&.order__border-bottom)
			margin-bottom: 45px
	.order__field-block-heading
		display: block
		font-weight: bold
		margin-bottom: 47px
		
	.balance-wrapper
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		flex-direction: row
		align-items: center
		width: 100%
		padding: 0px 
		margin: 0 15px
		margin-bottom: 77px
		.order__balance-label
			display: block
			max-width: 294px
			width: 100%	
			box-shadow: 2px 0 5px 1px rgba(0,0,0,0.3)
			padding: 20px 0 10px 0
			border-radius: 10px
			font-size: 30px
			line-height: 30px
			text-align: center
			cursor: pointer
			&:not(:last-child)
				margin-right: 49px
			.label-balance
				min-width: 135px
				font-size: 26px
				line-height: 30px
				font-weight: bold
			.label-text
				font-size: 13px
				line-height: 13px
			span
				display: block
		.selected
			color: #fff
			background-image: linear-gradient(to top, #4cbabb 0%, #57eced 100%);
			box-shadow: none
			transition: .2s
	.percent__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center
		margin-bottom: 63px
		.percent__item
			position: relative
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			&:not(:last-child)
				margin-right: 100px
			.radio-label
				display: block
				padding-top: 7px
				font-size: 25px
				line-height: 26px
				cursor: pointer
				padding-left: 25px
				.label-percent
					font-size: 13px
			.percent-btn
				display: block
				width: 26px
				height: 26px
				border: 1px solid #31dee0
				border-radius: 50%
				cursor: pointer
			.radio-percent:checked + .percent-btn 
				background-image: linear-gradient(to bottom, #00aae0 0%, #31dee0 100%)
				border: none
			.percent-help
				position: relative
				display: block
				width: 18px
				height: 18px
				margin-left: 11px
				border-radius: 50%
				background-color: #c8c8c8
				cursor: pointer
				&:after
					content: ''
					position: absolute
					left: 7px
					top: 5px
					display: block
					width: 6px
					height: 8px
					color: #fff
					background-image: url("../img/percentQuestionMark.png")
					background-position: 0 0 
					background-repeat: no-repeat
			.percent__popup
				position: absolute
				right: -215px
				top: -59px
				display: none
				max-width: 186px
				width: 186px
				padding: 27px 20px 30px 22px
				background-color: #fff
				border-radius: 10px
				box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1)
				font-size: 13px
				line-height: 15px
				font-weight: bold
				z-index: 1



.order__border-bottom
	border-bottom: 1px solid #aeaeae
	margin-bottom: 45px
	.order__field-block
		padding-bottom: 68px
		.order__options-list
			column-count: 4
		.order__option
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			// padding-left: 66px
			margin-bottom: 14px
			transition: .5s
			.option__label
				display: block
				padding-left: 42px
				padding-top: 5px
				cursor: pointer
			.checkbox-label
				position: relative
				display: block
				width: 24px
				height: 24px
				border: 1px solid #aeaeae
				background-color: #ffff
				cursor: pointer
				&.checked
					background-color: #31dee0
					border-color: #31dee0
					&:after
						content: ''
						position: absolute
						display: block
						right: 13px
						bottom: -1px
						width: 2px
						height: 15px
						transform: rotate(-35deg)
						background-color: #fff
					&:before
						content: ''
						position: absolute
						display: block
						right: 5px
						bottom: -1px
						width: 2px
						height: 20px
						transform: rotate(25deg)
						background-color: #fff

.order__roadmap
	position: relative
	.order__field-block-heading
		display: block
		margin-bottom: 58px
	.order__status-list
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: flex-start
		flex-wrap: wrap
		width: 90%
		padding: 0
		
		margin-left: 5%
		margin-right: 5%
		&:nth-child(odd)
			&:after
				content: ''
				position: absolute
				right: -5%
				top: 37px
				width: 5%
				height: calc(100% - 13px)
				border-radius: 0 60px 60px 0
				border-top: 13px solid #e7e7e7
				border-right: 13px solid #e7e7e7
				border-bottom: 13px solid #e7e7e7
		&:nth-child(even)
			&:before
				content: ''
				position: absolute
				left: -5%
				top: 37px
				width: 5%
				height: calc(100% - 13px)
				border-radius:  60px 0 0 60px 
				border-top: 13px solid #e7e7e7
				border-left: 13px solid #e7e7e7
				border-bottom: 13px solid #e7e7e7
		.order__option
			// margin-right: 215px
			position: relative
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			align-items: center
			max-width: 25%
			width: 100%
			margin-bottom: 56px
			z-index: 1
			&:first-child
				&:before
					border-radius: 5px
			&:last-child
				&:after
					border-radius: 5px
			&:before
				content: ''
				position: absolute
				left: 0
				top: 37px
				display: block
				width: 50%
				height: 13px
				background-color: #e7e7e7
			&:after
				content: ''
				position: absolute
				right: 0
				top: 37px
				display: block
				width: 50%
				height: 13px
				background-color: #e7e7e7
			

				
			.option__info
				text-align: center
				// max-height: 70px
				// overflow-y: auto
				.option__name
					padding: 0px 23px
					padding-bottom: 14px
					margin-bottom: 11px
					&.separator
						&:after
							height: 2px
							background-color: rgba(0,0,0,0.3)
			.option__estimate,
			.option__price,
			.option__discount
				font-size: 13px
				line-height: 13px
				color: #909090;
			.option__estimate
				margin-bottom: 14px
			.option__status-bar
				display: block
				width: 31px
				height: 31px
				margin-bottom: 24px
				border-radius: 50%
				border: 1px solid #d9d9d9
				background-color: #f3f3f3
				z-index: 1
				&.executing
					display: flex
					flex-direction: column-reverse
					justify-content: center
					align-items: center
					width: 44px
					height: 44px
					margin-bottom: 14px
					background-color: #31dee0					
					margin-top: -5px
					z-index: 1
					.status-bar__status
						display: block
						width: 15px
						height: 3px
						border-radius: 6px
						background-color: #dfdfdd
						&:not(:first-child)
							margin-bottom: 2px
						&.ready
							background-color: #fff

	.order__status-list:last-child
		&:after
			display: none
			border: none
		&:before
			display: none
			border: none



.order__submit
	position: absolute
	right: 0px
	bottom: 0
	width: 175px
	height: 52px
	border-radius: 8px
	border: 1px solid #31dee0
	background-color: #31dee0
	color: #fff
	cursor: pointer
	box-shadow: 2px 2px 1px 1px rgba(0,200,250,1)
	&:hover
		border: 1px solid #31dee0
		color: #31dee0
		background-color: #fff
	&:active
		box-shadow: inset 2px 2px 2px 1px rgba(0,200,250,1)