// colors
$main_light: #8e209e
$main_dark: #5e167f
$main_color: #6c1a74

$add_color: #1d1350

$light_text_color: #545b61
$dark_text_color: #041b2d

%pseudo
    content: ''
    position: absolute
    
.clearfix::after
    content: ''
    display: table
    clear: both

=display_flex_row
    display: flex
    flex-flow: row wrap
    justify-content: space-between

=display_flex_column
    display: flex
    flex-flow: column wrap
    justify-content: space-between

%center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    
%button
    padding: 10px
    border: none
    outline: none
    cursor: pointer
    color: #fff
    text-decoration: none

.content
    max-width: 1140px
    padding: 32px 16px
    margin: 0px auto
    display: block

a:hover, a
    text-decoration: inherit
    color: inherit
    
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
    transition: background-color 5000s ease-in-out 0s
    -webkit-text-fill-color: #fff !important
    color: #fff !important

form
    ::-webkit-input-placeholder
        font: 18px/1 'UbuntuRegular'
        color: #fff
    ::-moz-placeholder
        font: 18px/1 'UbuntuRegular'
        color: #fff
    :-moz-placeholder
        font: 18px/1 'UbuntuRegular'       
        color: #fff
    :-ms-input-placeholder
        font: 18px/1 'UbuntuRegular'    
        color: #fff
        
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
    