// @import "../css/font"
@import "_const"

@import "_media"
@import "sidebar"
@import "header"
@import "page-main.sass"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none

body
    margin: 0 auto
    min-width: 320px
    font-family: 'Roboto', sans-serif

.visually-hidden 
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%)
          clip-path: inset(100%)
  clip: rect(0 0 0 0);

.page-wrapper 
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row

	width: 100%
	margin: 0px auto


.header-main-wrapper 
	width: 100%

.separator
	position: relative
	&:after
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 1px
		background-color: #6b6b6b
	&.separator--vertical	
		&:after
			width: 39px
			top: 50%
			left: auto
			right: -31px
			background-color: #fff
			transform: rotate(90deg)

.separator--before
	position: relative
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 1px
		background-color: #6b6b6b
	

.wpapppp 
	min-width: 455px