.page-sidebar 
	position: fixed
	overflow-y: scroll
	left: 0
	top: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center
	box-sizing: border-box
	max-width: 455px
	width: 100%
	height: 100%
	padding: 72px 62px
	// background-image: url("../img/Прямоугольник_1_копия.jpg	")
	// background-position: center
	// background-size: cover
	// background-repeat: no-repeat
	background-color: #373737
	z-index: 1
	&:after 
		content: ''
		position: absolute
		left: 0
		top: 0
		display: block
		width: 100%
		height: 100vw
		background-image: url("../img/body_bg.png")
		background-repeat: repeat
		opacity: 0.2	
		z-index: -1
.sidebar__logo
	margin-bottom: 64px

.sidebar-nav
	width: 100%

.nav__list
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	padding-left: 46px
	list-style: none
	.nav__item
		.nav__link
			display: block
			margin-bottom: 30px
			font-size: 20px
			line-height: 20px
			&:hover,
			&:active
				color: #31d3d5
		&:last-child
			.nav__link
				margin-bottom: 25px
	&.nav__list--order
		margin-top: 37px
		.nav__item
			.nav__link
				pointer-events: none


.nav__list--user
	.nav__link
		color: #fff

.nav__list--order
	.nav__link
		color: rgba(255,255,255,0.1)