@charset "UTF-8";
.page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #4cbabb;
  padding: 19px 0; }

.user-nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 139px; }

.user-nav__item {
  position: relative; }

.popup-wrapper {
  padding-top: 13px;
  position: absolute;
  right: 0;
  z-index: 1; }

.user-nav__popup {
  position: relative;
  width: 343px;
  padding: 23px 16px;
  background-color: #f9f9f9;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2); }
  .user-nav__popup .popup__heading {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 37px; }
  .user-nav__popup .popup__close {
    position: absolute;
    top: 21px;
    right: 13px;
    display: block;
    width: 14px;
    height: 14px;
    font-size: 0; }
    .user-nav__popup .popup__close:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background-image: url("../img/popup_close.png");
      background-repeat: no-repeat;
      cursor: pointer; }
  .user-nav__popup .popup__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.help__list {
  width: 100%; }
  .help__list .help__item.separator {
    padding-bottom: 26px; }
    .help__list .help__item.separator:after {
      background-color: #d0d0d0; }
  .help__list .item--find {
    position: relative; }
    .help__list .item--find:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 13px;
      background-image: url("../img/popupHelp__icon.png");
      background-repeat: no-repeat; }
  .help__list .help__item {
    width: 100%;
    margin-bottom: 19px; }
    .help__list .help__item .help__link {
      font-size: 13px;
      font-weight: 400;
      color: #3c3c3c; }

.notif__list .popup__message {
  padding: 28px 28px 20px 38px;
  margin-bottom: 12px;
  border: 1px solid #d0d0d0;
  background-color: #fff; }
  .notif__list .popup__message .message__author {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: bold; }
  .notif__list .popup__message .message__text {
    display: inline-block;
    color: #3c3c3c;
    font-size: 13px;
    margin-bottom: 21px; }
  .notif__list .popup__message .message__btn {
    color: #515151;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer; }
  .notif__list .popup__message .message__check {
    margin-right: 50px;
    color: #4cbabb;
    font-size: 16px; }

.user-nav__item:not(:last-child) {
  margin-right: 15px; }

.item-notif .item-notif__notifications {
  position: absolute;
  right: -2px;
  top: -2px;
  display: block;
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  color: #fff;
  z-index: 1; }
  .item-notif .item-notif__notifications:after {
    content: '';
    position: absolute;
    left: 0px;
    top: -2px;
    width: 13px;
    height: 13px;
    background-color: #b94023;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1; }

.item-euro {
  margin-right: 15px; }

.user-nav__item.user-item {
  margin-right: 9px; }

.item-help__sign,
.item-notif__sign {
  display: block;
  width: 21px;
  height: 22px;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.item-help__sign {
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../img/questionMark.png"); }

.item-notif__sign {
  background-image: url("../img/notificMark.png"); }

.user-nav__balance {
  color: #fff;
  font-size: 16px;
  line-height: 16px; }

.user-nav__user-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.user-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 12px; }

.user-avatar {
  position: relative;
  width: 28px;
  height: 28px;
  margin-top: -4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/userAvatar.png");
  background-repeat: no-repeat;
  background-position: 7px 6px; }

.popup-wrapper--user {
  max-width: 220px;
  width: 220px; }

.user-popup {
  width: 100%;
  padding: 35px 9px 30px 13px; }
  .user-popup .inner-list {
    display: none;
    padding-top: 21px;
    padding-left: 17px; }
  .user-popup .popup__item {
    width: 100%; }
    .user-popup .popup__item:not(:last-child) {
      margin-bottom: 21px; }
    .user-popup .popup__item.opened {
      margin-bottom: 0; }
      .user-popup .popup__item.opened .startup-name:before {
        background-color: #a2d9da;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .user-popup .popup__item.opened .startup-name:after {
        background-color: #a2d9da;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .user-popup .popup__item.opened .inner-list {
        display: block; }
        .user-popup .popup__item.opened .inner-list .popup__item:last-child {
          margin-bottom: 21px; }
    .user-popup .popup__item .startup-name {
      position: relative;
      display: block;
      padding-left: 17px;
      margin-bottom: 20px;
      color: #4cbabb;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer; }
      .user-popup .popup__item .startup-name:before, .user-popup .popup__item .startup-name:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
        width: 10px;
        height: 2px;
        background-color: #505050;
        -webkit-transform: rotate(-48deg);
            -ms-transform: rotate(-48deg);
                transform: rotate(-48deg);
        -webkit-border-radius: 2px;
                border-radius: 2px; }
      .user-popup .popup__item .startup-name:before {
        width: 10px;
        right: 16px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .user-popup .popup__item .popup__link {
      color: #3c3c3c;
      font-size: 13px; }
  .user-popup .separator--before {
    padding-top: 13px; }
    .user-popup .separator--before:before {
      width: 198px;
      background-color: #d0d0d0; }

.popup__list > .popup__item:not(:first-child) {
  padding-left: 18px; }

.lang-popup {
  width: 78px;
  padding: 0; }
  .lang-popup .popup__item {
    position: relative;
    max-width: 78px; }
    .lang-popup .popup__item:not(:first-child) {
      padding-left: 0; }
    .lang-popup .popup__item:first-child .popup__lang {
      -webkit-border-radius: 10px 10px 0 0;
              border-radius: 10px 10px 0 0; }
    .lang-popup .popup__item:last-child .popup__lang {
      -webkit-border-radius: 0 0 10px 10px;
              border-radius: 0 0 10px 10px; }
    .lang-popup .popup__item .popup__lang {
      position: relative;
      display: block;
      padding: 14px 36px 11px 23px;
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer; }
      .lang-popup .popup__item .popup__lang:hover {
        background-color: #eaeaea; }
        .lang-popup .popup__item .popup__lang:hover:after {
          content: '←';
          diplay: none;
          position: absolute;
          right: 5px;
          bottom: 13px;
          font-size: 15px; }

.current-lang {
  position: relative;
  display: block;
  min-width: 45px;
  font-size: 13px;
  color: #fff;
  padding-right: 15px;
  cursor: pointer; }
  .current-lang:after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 7px;
    height: 7px;
    background-image: url("../img/arrowDown.png");
    background-repeat: no-repeat; }
