@charset "UTF-8";
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.content {
  max-width: 1140px;
  padding: 32px 16px;
  margin: 0px auto;
  display: block; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important; }

form {
  -moz-placeholder-font: 18px/1 'UbuntuRegular';
  -moz-placeholder-color: #fff;
  -ms-input-placeholder-font: 18px/1 'UbuntuRegular';
  -ms-input-placeholder-color: #fff; }
  form ::-webkit-input-placeholder {
    font: 18px/1 'UbuntuRegular';
    color: #fff; }
  form ::-moz-placeholder {
    font: 18px/1 'UbuntuRegular';
    color: #fff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@media only screen and (max-width: 1140px) {
  /**/ }

@media only screen and (max-width: 992px) {
  /**/ }

@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 480px) {
  /**/ }

.page-sidebar {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 455px;
  width: 100%;
  height: 100%;
  padding: 72px 62px;
  background-color: #373737;
  z-index: 1; }
  .page-sidebar:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100vw;
    background-image: url("../img/body_bg.png");
    background-repeat: repeat;
    opacity: 0.2;
    z-index: -1; }

.sidebar__logo {
  margin-bottom: 64px; }

.sidebar-nav {
  width: 100%; }

.nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 46px;
  list-style: none; }
  .nav__list .nav__item .nav__link {
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px; }
    .nav__list .nav__item .nav__link:hover, .nav__list .nav__item .nav__link:active {
      color: #31d3d5; }
  .nav__list .nav__item:last-child .nav__link {
    margin-bottom: 25px; }
  .nav__list.nav__list--order {
    margin-top: 37px; }
    .nav__list.nav__list--order .nav__item .nav__link {
      pointer-events: none; }

.nav__list--user .nav__link {
  color: #fff; }

.nav__list--order .nav__link {
  color: rgba(255, 255, 255, 0.1); }

.page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #4cbabb;
  padding: 19px 0; }

.user-nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 139px; }

.user-nav__item {
  position: relative; }

.popup-wrapper {
  padding-top: 13px;
  position: absolute;
  right: 0;
  z-index: 1; }

.user-nav__popup {
  position: relative;
  width: 343px;
  padding: 23px 16px;
  background-color: #f9f9f9;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2); }
  .user-nav__popup .popup__heading {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 37px; }
  .user-nav__popup .popup__close {
    position: absolute;
    top: 21px;
    right: 13px;
    display: block;
    width: 14px;
    height: 14px;
    font-size: 0; }
    .user-nav__popup .popup__close:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background-image: url("../img/popup_close.png");
      background-repeat: no-repeat;
      cursor: pointer; }
  .user-nav__popup .popup__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.help__list {
  width: 100%; }
  .help__list .help__item.separator {
    padding-bottom: 26px; }
    .help__list .help__item.separator:after {
      background-color: #d0d0d0; }
  .help__list .item--find {
    position: relative; }
    .help__list .item--find:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 13px;
      background-image: url("../img/popupHelp__icon.png");
      background-repeat: no-repeat; }
  .help__list .help__item {
    width: 100%;
    margin-bottom: 19px; }
    .help__list .help__item .help__link {
      font-size: 13px;
      font-weight: 400;
      color: #3c3c3c; }

.notif__list .popup__message {
  padding: 28px 28px 20px 38px;
  margin-bottom: 12px;
  border: 1px solid #d0d0d0;
  background-color: #fff; }
  .notif__list .popup__message .message__author {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: bold; }
  .notif__list .popup__message .message__text {
    display: inline-block;
    color: #3c3c3c;
    font-size: 13px;
    margin-bottom: 21px; }
  .notif__list .popup__message .message__btn {
    color: #515151;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer; }
  .notif__list .popup__message .message__check {
    margin-right: 50px;
    color: #4cbabb;
    font-size: 16px; }

.user-nav__item:not(:last-child) {
  margin-right: 15px; }

.item-notif .item-notif__notifications {
  position: absolute;
  right: -2px;
  top: -2px;
  display: block;
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  color: #fff;
  z-index: 1; }
  .item-notif .item-notif__notifications:after {
    content: '';
    position: absolute;
    left: 0px;
    top: -2px;
    width: 13px;
    height: 13px;
    background-color: #b94023;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1; }

.item-euro {
  margin-right: 15px; }

.user-nav__item.user-item {
  margin-right: 9px; }

.item-help__sign,
.item-notif__sign {
  display: block;
  width: 21px;
  height: 22px;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.item-help__sign {
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../img/questionMark.png"); }

.item-notif__sign {
  background-image: url("../img/notificMark.png"); }

.user-nav__balance {
  color: #fff;
  font-size: 16px;
  line-height: 16px; }

.user-nav__user-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.user-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 12px; }

.user-avatar {
  position: relative;
  width: 28px;
  height: 28px;
  margin-top: -4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/userAvatar.png");
  background-repeat: no-repeat;
  background-position: 7px 6px; }

.popup-wrapper--user {
  max-width: 220px;
  width: 220px; }

.user-popup {
  width: 100%;
  padding: 35px 9px 30px 13px; }
  .user-popup .inner-list {
    display: none;
    padding-top: 21px;
    padding-left: 17px; }
  .user-popup .popup__item {
    width: 100%; }
    .user-popup .popup__item:not(:last-child) {
      margin-bottom: 21px; }
    .user-popup .popup__item.opened {
      margin-bottom: 0; }
      .user-popup .popup__item.opened .startup-name:before {
        background-color: #a2d9da;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .user-popup .popup__item.opened .startup-name:after {
        background-color: #a2d9da;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .user-popup .popup__item.opened .inner-list {
        display: block; }
        .user-popup .popup__item.opened .inner-list .popup__item:last-child {
          margin-bottom: 21px; }
    .user-popup .popup__item .startup-name {
      position: relative;
      display: block;
      padding-left: 17px;
      margin-bottom: 20px;
      color: #4cbabb;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer; }
      .user-popup .popup__item .startup-name:before, .user-popup .popup__item .startup-name:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
        width: 10px;
        height: 2px;
        background-color: #505050;
        -webkit-transform: rotate(-48deg);
            -ms-transform: rotate(-48deg);
                transform: rotate(-48deg);
        -webkit-border-radius: 2px;
                border-radius: 2px; }
      .user-popup .popup__item .startup-name:before {
        width: 10px;
        right: 16px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .user-popup .popup__item .popup__link {
      color: #3c3c3c;
      font-size: 13px; }
  .user-popup .separator--before {
    padding-top: 13px; }
    .user-popup .separator--before:before {
      width: 198px;
      background-color: #d0d0d0; }

.popup__list > .popup__item:not(:first-child) {
  padding-left: 18px; }

.lang-popup {
  width: 78px;
  padding: 0; }
  .lang-popup .popup__item {
    position: relative;
    max-width: 78px; }
    .lang-popup .popup__item:not(:first-child) {
      padding-left: 0; }
    .lang-popup .popup__item:first-child .popup__lang {
      -webkit-border-radius: 10px 10px 0 0;
              border-radius: 10px 10px 0 0; }
    .lang-popup .popup__item:last-child .popup__lang {
      -webkit-border-radius: 0 0 10px 10px;
              border-radius: 0 0 10px 10px; }
    .lang-popup .popup__item .popup__lang {
      position: relative;
      display: block;
      padding: 14px 36px 11px 23px;
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer; }
      .lang-popup .popup__item .popup__lang:hover {
        background-color: #eaeaea; }
        .lang-popup .popup__item .popup__lang:hover:after {
          content: '←';
          diplay: none;
          position: absolute;
          right: 5px;
          bottom: 13px;
          font-size: 15px; }

.current-lang {
  position: relative;
  display: block;
  min-width: 45px;
  font-size: 13px;
  color: #fff;
  padding-right: 15px;
  cursor: pointer; }
  .current-lang:after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 7px;
    height: 7px;
    background-image: url("../img/arrowDown.png");
    background-repeat: no-repeat; }

ul {
  list-style: none; }

.page-main__features {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2); }
  .page-main__features .features__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 34px 5px 34px 5px; }
    .page-main__features .features__list .features__item {
      max-width: 204px; }
      .page-main__features .features__list .features__item:not(:last-child) {
        margin-right: 125px; }
      .page-main__features .features__list .features__item .features__text {
        position: relative;
        padding-left: 69px;
        font-size: 13px; }
        .page-main__features .features__list .features__item .features__text:after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 44px;
          height: 44px;
          margin-top: -22px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #e2e2e2;
          background-position: center;
          background-repeat: no-repeat; }
      .page-main__features .features__list .features__item .features__text-1:after {
        background-image: url("../img/features-1.png"); }
      .page-main__features .features__list .features__item .features__text-2:after {
        background-image: url("../img/features-2.png"); }
      .page-main__features .features__list .features__item .features__text-3:after {
        background-image: url("../img/features-2.png"); }
      .page-main__features .features__list .features__item .features__text-4:after {
        background-image: url("../img/features-4.png"); }

.page-main__order {
  padding: 62px 0 68px 30px; }
  .page-main__order .order__field-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: none; }
    .page-main__order .order__field-block:after {
      height: 2px;
      background-color: rgba(0, 0, 0, 0.2); }
    .page-main__order .order__field-block {
      margin-bottom: 45px; }
  .page-main__order .order__field-block-heading {
    display: block;
    font-weight: bold;
    margin-bottom: 47px; }
  .page-main__order .balance-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin: 0 15px;
    margin-bottom: 77px; }
    .page-main__order .balance-wrapper .order__balance-label {
      display: block;
      max-width: 294px;
      width: 100%;
      -webkit-box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.3);
      padding: 20px 0 10px 0;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
      .page-main__order .balance-wrapper .order__balance-label:not(:last-child) {
        margin-right: 49px; }
      .page-main__order .balance-wrapper .order__balance-label .label-balance {
        min-width: 135px;
        font-size: 26px;
        line-height: 30px;
        font-weight: bold; }
      .page-main__order .balance-wrapper .order__balance-label .label-text {
        font-size: 13px;
        line-height: 13px; }
      .page-main__order .balance-wrapper .order__balance-label span {
        display: block; }
    .page-main__order .balance-wrapper .selected {
      color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#4cbabb), to(#57eced));
      background-image: -webkit-linear-gradient(bottom, #4cbabb 0%, #57eced 100%);
      background-image: -o-linear-gradient(bottom, #4cbabb 0%, #57eced 100%);
      background-image: linear-gradient(to top, #4cbabb 0%, #57eced 100%);
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
  .page-main__order .percent__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 63px; }
    .page-main__order .percent__list .percent__item {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-main__order .percent__list .percent__item:not(:last-child) {
        margin-right: 100px; }
      .page-main__order .percent__list .percent__item .radio-label {
        display: block;
        padding-top: 7px;
        font-size: 25px;
        line-height: 26px;
        cursor: pointer; }
        .page-main__order .percent__list .percent__item .radio-label .label-percent {
          font-size: 13px; }
      .page-main__order .percent__list .percent__item .percent-btn {
        display: block;
        width: 26px;
        height: 26px;
        margin-right: 25px;
        border: 1px solid #31dee0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        cursor: pointer; }
      .page-main__order .percent__list .percent__item .radio-percent:checked + .percent-btn {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00aae0), to(#31dee0));
        background-image: -webkit-linear-gradient(top, #00aae0 0%, #31dee0 100%);
        background-image: -o-linear-gradient(top, #00aae0 0%, #31dee0 100%);
        background-image: linear-gradient(to bottom, #00aae0 0%, #31dee0 100%);
        border: none; }
      .page-main__order .percent__list .percent__item .percent-help {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        margin-left: 11px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #c8c8c8;
        cursor: pointer; }
        .page-main__order .percent__list .percent__item .percent-help:after {
          content: '';
          position: absolute;
          left: 7px;
          top: 5px;
          display: block;
          width: 6px;
          height: 8px;
          color: #fff;
          background-image: url("../img/percentQuestionMark.png");
          background-position: 0 0;
          background-repeat: no-repeat; }
      .page-main__order .percent__list .percent__item .percent__popup {
        position: absolute;
        right: -215px;
        top: -59px;
        display: none;
        max-width: 186px;
        width: 186px;
        padding: 27px 20px 30px 22px;
        background-color: #fff;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
        font-size: 13px;
        line-height: 15px;
        font-weight: bold;
        z-index: 1; }

.order__border-bottom {
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 45px; }
  .order__border-bottom .order__field-block {
    padding-bottom: 68px; }
    .order__border-bottom .order__field-block .order__options-list {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4; }
    .order__border-bottom .order__field-block .order__option {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 14px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .order__border-bottom .order__field-block .order__option .option__label {
        display: block;
        padding-top: 5px;
        cursor: pointer; }
      .order__border-bottom .order__field-block .order__option .checkbox-label {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        border: 1px solid #aeaeae;
        background-color: #ffff;
        margin-right: 42px;
        cursor: pointer; }
        .order__border-bottom .order__field-block .order__option .checkbox-label.checked {
          background-color: #31dee0;
          border-color: #31dee0; }
          .order__border-bottom .order__field-block .order__option .checkbox-label.checked:after {
            content: '';
            position: absolute;
            display: block;
            right: 13px;
            bottom: -1px;
            width: 2px;
            height: 15px;
            -webkit-transform: rotate(-35deg);
                -ms-transform: rotate(-35deg);
                    transform: rotate(-35deg);
            background-color: #fff; }
          .order__border-bottom .order__field-block .order__option .checkbox-label.checked:before {
            content: '';
            position: absolute;
            display: block;
            right: 5px;
            bottom: -1px;
            width: 2px;
            height: 20px;
            -webkit-transform: rotate(25deg);
                -ms-transform: rotate(25deg);
                    transform: rotate(25deg);
            background-color: #fff; }

.order__roadmap {
  position: relative; }
  .order__roadmap .order__field-block-heading {
    display: block;
    margin-bottom: 58px; }
  .order__roadmap .order__status-list {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 90%;
    padding: 0;
    margin-left: 65px;
    margin-right: 156px; }
    .order__roadmap .order__status-list:nth-child(odd):after {
      content: '';
      position: absolute;
      right: -5%;
      top: 37px;
      width: 5%;
      height: -webkit-calc(100% - 13px);
      height: calc(100% - 13px);
      -webkit-border-radius: 0 60px 60px 0;
              border-radius: 0 60px 60px 0;
      border-top: 13px solid #e7e7e7;
      border-right: 13px solid #e7e7e7;
      border-bottom: 13px solid #e7e7e7; }
    .order__roadmap .order__status-list:nth-child(even):before {
      content: '';
      position: absolute;
      left: -5%;
      top: 37px;
      width: 5%;
      height: -webkit-calc(100% - 13px);
      height: calc(100% - 13px);
      -webkit-border-radius: 60px 0 0 60px;
              border-radius: 60px 0 0 60px;
      border-top: 13px solid #e7e7e7;
      border-left: 13px solid #e7e7e7;
      border-bottom: 13px solid #e7e7e7; }
    .order__roadmap .order__status-list .order__option {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 25%;
      width: 100%;
      margin-bottom: 56px;
      z-index: 1; }
      .order__roadmap .order__status-list .order__option:before {
        content: '';
        position: absolute;
        left: 0;
        top: 37px;
        display: block;
        width: 50%;
        height: 13px;
        background-color: #e7e7e7; }
      .order__roadmap .order__status-list .order__option:after {
        content: '';
        position: absolute;
        right: 0;
        top: 37px;
        display: block;
        width: 50%;
        height: 13px;
        background-color: #e7e7e7; }
      .order__roadmap .order__status-list .order__option .option__info {
        text-align: center; }
        .order__roadmap .order__status-list .order__option .option__info .option__name {
          padding: 0px 23px;
          padding-bottom: 14px;
          margin-bottom: 11px; }
          .order__roadmap .order__status-list .order__option .option__info .option__name.separator:after {
            height: 2px;
            background-color: rgba(0, 0, 0, 0.3); }
      .order__roadmap .order__status-list .order__option .option__estimate,
      .order__roadmap .order__status-list .order__option .option__price,
      .order__roadmap .order__status-list .order__option .option__discount {
        font-size: 13px;
        line-height: 13px;
        color: #909090; }
      .order__roadmap .order__status-list .order__option .option__estimate {
        margin-bottom: 14px; }
      .order__roadmap .order__status-list .order__option .option__status-bar {
        display: block;
        width: 31px;
        height: 31px;
        margin-bottom: 24px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #d9d9d9;
        background-color: #f3f3f3;
        z-index: 1; }
        .order__roadmap .order__status-list .order__option .option__status-bar.executing {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: column-reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 44px;
          height: 44px;
          margin-bottom: 14px;
          background-color: #31dee0;
          margin-top: -5px;
          z-index: 1; }
          .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status {
            display: block;
            width: 15px;
            height: 3px;
            -webkit-border-radius: 6px;
                    border-radius: 6px;
            background-color: #dfdfdd; }
            .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status:not(:first-child) {
              margin-bottom: 2px; }
            .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status.ready {
              background-color: #fff; }
  .order__roadmap .order__status-list:last-child:after {
    display: none;
    border: none; }
  .order__roadmap .order__status-list:last-child:before {
    display: none;
    border: none; }

.order__submit {
  position: absolute;
  right: 80px;
  bottom: 0;
  width: 175px;
  height: 52px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #31dee0;
  background-color: #31dee0;
  color: #fff;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Roboto', sans-serif; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
    -webkit-clip-path-clip-path: inset(100%);
  clip: rect(0 0 0 0); }

.page-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0px auto; }

.header-main-wrapper {
  width: 100%; }

.separator {
  position: relative; }
  .separator:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #6b6b6b; }
  .separator.separator--vertical:after {
    width: 39px;
    top: 50%;
    left: auto;
    right: -31px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.separator--before {
  position: relative; }
  .separator--before:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #6b6b6b; }

.wpapppp {
  min-width: 455px; }
