ul {
  list-style: none; }

.page-main__features {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2); }
  .page-main__features .features__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 34px 5px 34px 5px; }
    .page-main__features .features__list .features__item {
      max-width: 204px; }
      .page-main__features .features__list .features__item:not(:last-child) {
        margin-right: 125px; }
      .page-main__features .features__list .features__item .features__text {
        position: relative;
        padding-left: 69px;
        font-size: 13px; }
        .page-main__features .features__list .features__item .features__text:after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 44px;
          height: 44px;
          margin-top: -22px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #e2e2e2;
          background-position: center;
          background-repeat: no-repeat; }
      .page-main__features .features__list .features__item .features__text-1:after {
        background-image: url("../img/features-1.png"); }
      .page-main__features .features__list .features__item .features__text-2:after {
        background-image: url("../img/features-2.png"); }
      .page-main__features .features__list .features__item .features__text-3:after {
        background-image: url("../img/features-2.png"); }
      .page-main__features .features__list .features__item .features__text-4:after {
        background-image: url("../img/features-4.png"); }

.page-main__order {
  padding: 62px 0 68px 30px; }
  .page-main__order .order__field-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: none; }
    .page-main__order .order__field-block:after {
      height: 2px;
      background-color: rgba(0, 0, 0, 0.2); }
    .page-main__order .order__field-block {
      margin-bottom: 45px; }
  .page-main__order .order__field-block-heading {
    display: block;
    font-weight: bold;
    margin-bottom: 47px; }
  .page-main__order .balance-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin: 0 15px;
    margin-bottom: 77px; }
    .page-main__order .balance-wrapper .order__balance-label {
      display: block;
      max-width: 294px;
      width: 100%;
      -webkit-box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.3);
      padding: 20px 0 10px 0;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
      .page-main__order .balance-wrapper .order__balance-label:not(:last-child) {
        margin-right: 49px; }
      .page-main__order .balance-wrapper .order__balance-label .label-balance {
        min-width: 135px;
        font-size: 26px;
        line-height: 30px;
        font-weight: bold; }
      .page-main__order .balance-wrapper .order__balance-label .label-text {
        font-size: 13px;
        line-height: 13px; }
      .page-main__order .balance-wrapper .order__balance-label span {
        display: block; }
    .page-main__order .balance-wrapper .selected {
      color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#4cbabb), to(#57eced));
      background-image: -webkit-linear-gradient(bottom, #4cbabb 0%, #57eced 100%);
      background-image: -o-linear-gradient(bottom, #4cbabb 0%, #57eced 100%);
      background-image: linear-gradient(to top, #4cbabb 0%, #57eced 100%);
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
  .page-main__order .percent__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 63px; }
    .page-main__order .percent__list .percent__item {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-main__order .percent__list .percent__item:not(:last-child) {
        margin-right: 100px; }
      .page-main__order .percent__list .percent__item .radio-label {
        display: block;
        padding-top: 7px;
        font-size: 25px;
        line-height: 26px;
        cursor: pointer; }
        .page-main__order .percent__list .percent__item .radio-label .label-percent {
          font-size: 13px; }
      .page-main__order .percent__list .percent__item .percent-btn {
        display: block;
        width: 26px;
        height: 26px;
        margin-right: 25px;
        border: 1px solid #31dee0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        cursor: pointer; }
      .page-main__order .percent__list .percent__item .radio-percent:checked + .percent-btn {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00aae0), to(#31dee0));
        background-image: -webkit-linear-gradient(top, #00aae0 0%, #31dee0 100%);
        background-image: -o-linear-gradient(top, #00aae0 0%, #31dee0 100%);
        background-image: linear-gradient(to bottom, #00aae0 0%, #31dee0 100%);
        border: none; }
      .page-main__order .percent__list .percent__item .percent-help {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        margin-left: 11px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #c8c8c8;
        cursor: pointer; }
        .page-main__order .percent__list .percent__item .percent-help:after {
          content: '';
          position: absolute;
          left: 7px;
          top: 5px;
          display: block;
          width: 6px;
          height: 8px;
          color: #fff;
          background-image: url("../img/percentQuestionMark.png");
          background-position: 0 0;
          background-repeat: no-repeat; }
      .page-main__order .percent__list .percent__item .percent__popup {
        position: absolute;
        right: -215px;
        top: -59px;
        display: none;
        max-width: 186px;
        width: 186px;
        padding: 27px 20px 30px 22px;
        background-color: #fff;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
        font-size: 13px;
        line-height: 15px;
        font-weight: bold;
        z-index: 1; }

.order__border-bottom {
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 45px; }
  .order__border-bottom .order__field-block {
    padding-bottom: 68px; }
    .order__border-bottom .order__field-block .order__options-list {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4; }
    .order__border-bottom .order__field-block .order__option {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 14px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .order__border-bottom .order__field-block .order__option .option__label {
        display: block;
        padding-top: 5px;
        cursor: pointer; }
      .order__border-bottom .order__field-block .order__option .checkbox-label {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        border: 1px solid #aeaeae;
        background-color: #ffff;
        margin-right: 42px;
        cursor: pointer; }
        .order__border-bottom .order__field-block .order__option .checkbox-label.checked {
          background-color: #31dee0;
          border-color: #31dee0; }
          .order__border-bottom .order__field-block .order__option .checkbox-label.checked:after {
            content: '';
            position: absolute;
            display: block;
            right: 13px;
            bottom: -1px;
            width: 2px;
            height: 15px;
            -webkit-transform: rotate(-35deg);
                -ms-transform: rotate(-35deg);
                    transform: rotate(-35deg);
            background-color: #fff; }
          .order__border-bottom .order__field-block .order__option .checkbox-label.checked:before {
            content: '';
            position: absolute;
            display: block;
            right: 5px;
            bottom: -1px;
            width: 2px;
            height: 20px;
            -webkit-transform: rotate(25deg);
                -ms-transform: rotate(25deg);
                    transform: rotate(25deg);
            background-color: #fff; }

.order__roadmap {
  position: relative; }
  .order__roadmap .order__field-block-heading {
    display: block;
    margin-bottom: 58px; }
  .order__roadmap .order__status-list {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 90%;
    padding: 0;
    margin-left: 65px;
    margin-right: 156px; }
    .order__roadmap .order__status-list:nth-child(odd):after {
      content: '';
      position: absolute;
      right: -5%;
      top: 37px;
      width: 5%;
      height: -webkit-calc(100% - 13px);
      height: calc(100% - 13px);
      -webkit-border-radius: 0 60px 60px 0;
              border-radius: 0 60px 60px 0;
      border-top: 13px solid #e7e7e7;
      border-right: 13px solid #e7e7e7;
      border-bottom: 13px solid #e7e7e7; }
    .order__roadmap .order__status-list:nth-child(even):before {
      content: '';
      position: absolute;
      left: -5%;
      top: 37px;
      width: 5%;
      height: -webkit-calc(100% - 13px);
      height: calc(100% - 13px);
      -webkit-border-radius: 60px 0 0 60px;
              border-radius: 60px 0 0 60px;
      border-top: 13px solid #e7e7e7;
      border-left: 13px solid #e7e7e7;
      border-bottom: 13px solid #e7e7e7; }
    .order__roadmap .order__status-list .order__option {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 25%;
      width: 100%;
      margin-bottom: 56px;
      z-index: 1; }
      .order__roadmap .order__status-list .order__option:before {
        content: '';
        position: absolute;
        left: 0;
        top: 37px;
        display: block;
        width: 50%;
        height: 13px;
        background-color: #e7e7e7; }
      .order__roadmap .order__status-list .order__option:after {
        content: '';
        position: absolute;
        right: 0;
        top: 37px;
        display: block;
        width: 50%;
        height: 13px;
        background-color: #e7e7e7; }
      .order__roadmap .order__status-list .order__option .option__info {
        text-align: center; }
        .order__roadmap .order__status-list .order__option .option__info .option__name {
          padding: 0px 23px;
          padding-bottom: 14px;
          margin-bottom: 11px; }
          .order__roadmap .order__status-list .order__option .option__info .option__name.separator:after {
            height: 2px;
            background-color: rgba(0, 0, 0, 0.3); }
      .order__roadmap .order__status-list .order__option .option__estimate,
      .order__roadmap .order__status-list .order__option .option__price,
      .order__roadmap .order__status-list .order__option .option__discount {
        font-size: 13px;
        line-height: 13px;
        color: #909090; }
      .order__roadmap .order__status-list .order__option .option__estimate {
        margin-bottom: 14px; }
      .order__roadmap .order__status-list .order__option .option__status-bar {
        display: block;
        width: 31px;
        height: 31px;
        margin-bottom: 24px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #d9d9d9;
        background-color: #f3f3f3;
        z-index: 1; }
        .order__roadmap .order__status-list .order__option .option__status-bar.executing {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: column-reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 44px;
          height: 44px;
          margin-bottom: 14px;
          background-color: #31dee0;
          margin-top: -5px;
          z-index: 1; }
          .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status {
            display: block;
            width: 15px;
            height: 3px;
            -webkit-border-radius: 6px;
                    border-radius: 6px;
            background-color: #dfdfdd; }
            .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status:not(:first-child) {
              margin-bottom: 2px; }
            .order__roadmap .order__status-list .order__option .option__status-bar.executing .status-bar__status.ready {
              background-color: #fff; }
  .order__roadmap .order__status-list:last-child:after {
    display: none;
    border: none; }
  .order__roadmap .order__status-list:last-child:before {
    display: none;
    border: none; }

.order__submit {
  position: absolute;
  right: 80px;
  bottom: 0;
  width: 175px;
  height: 52px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #31dee0;
  background-color: #31dee0;
  color: #fff;
  cursor: pointer; }
